        </div>
        <div class="footer" id="footer">
            <div class="contact-options">
                <div class="social-icons">
                    <a href="https://github.com/chrislabarge" class="tooltip">
                        <span class="tooltip-text">Github</span>
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://gitlab.com/chrislabarge" class="tooltip">
                        <span class="tooltip-text">Gitlab</span>
                        <i class="fab fa-gitlab"></i>
                    </a>
                    <a href="https://twitter.com/clabvessels" class="tooltip">
                        <span class="tooltip-text">Twitter</span>
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="mailto:chrislabargedev@gmail.com" class="tooltip">
                        <span class="tooltip-text">Send Email</span>
                        <i class="far fa-envelope"></i>
                    </a>
                    <a id="light" class="toggle-theme tooltip">
                        <span class="tooltip-text"> Light Theme</span>
                        <i class="fas fa-sun"></i>
                    </a>
                    <a id="dark" class="toggle-theme tooltip" style="display: none">
                        <span class="tooltip-text">Dark Theme</span>
                        <i class="fas fa-moon"></i>
                    </a>
                </div>
            </div>

            {{ if not .IsHome }}
                <section id=nav>
                    <ul class=navbar>
                        <li><div><a href="/">Home</a></div></li>
                        <li><div><a href="/about">About Me</a></div></li>
                        <li><div><a href="/posts">Blog Posts</a></div></li>
                        <li><div><a href="/projects">Projects</a></div></li>
                    </ul>
                </section>
            {{ end }}
        </div>
    </body>
</html>
