        </div>
        <div class="footer">
            <div class="contact-options">
                <div class="social-icons">
                    <a href="https://github.com/chrislabarge">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="mailto:chrislabargedev@gmail.com">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a href="/?theme=light" id="light">
                        <i class="fas fa-sun"></i>
                    </a>
                    <a href="/" id="dark" style="display: none">
                        <i class="fas fa-moon"></i>
                    </a>
                </div>
            </div>

            {{ if not .IsHome }}
                <section id=nav>
                    <ul class=navbar>
                        <li><div><a href="/">Home</a></div></li>
                        <li><div><a href="/about">About Me</a></div></li>
                        <li><div><a href="/projects">Projects</a></div></li>
                        <li><div><a href="/posts">Blog</a></div></li>
                    </ul>
                </section>
            {{ end }}
        </div>
    </body>
</html>
