{{ partial "header.html" . }}
<div id="landing">
  <section id=content>
    <ul class=posts_listing>
        <div class="list-item">
          <div class="date-time-title post">
            <a href="/about">About Me</a>
          </div>
          <div id=date class="date-time-title">
              <!-- Here we go -->
          </div>
        </div>

        <div class="list-item">
          <div class="date-time-title post">
            <a href="/posts">Blog Posts</a>
          </div>
          <div id=date class="date-time-title">
              <!-- Here we go -->
          </div>
        </div>

        <div class="list-item">
          <div class="date-time-title post">
            <a href="/projects">Projects</a>
          </div>
          <div id=date class="date-time-title">
              <!-- Here we go -->
          </div>
        </div>
    </ul>
  </section>
</div>
{{ partial "footer.html" . }}
