{{ partial "header.html" . }}

<section id=content>
    <ul class=posts_listing>
        <div id="posts">
          <div class="date-time-title post">
            <a href="/about">About Me</a>
          </div>
          <div id=date class="date-time-title">
              <!-- Here we go -->
          </div>
        </div>
        <div id="posts">
          <div class="date-time-title post">
            <a href="/projects">Projects</a>
          </div>
          <div id=date class="date-time-title">
              <!-- Here we go -->
          </div>
        </div>
        <div id="posts">
          <div class="date-time-title post">
            <a href="/posts">Blog</a>
          </div>
          <div id=date class="date-time-title">
              <!-- Here we go -->
          </div>
        </div>
    </ul>
  </section>

{{ partial "footer.html" . }}
